body {
  min-height: 70rem;
  width: 120rem;
  background-color: hsl(0, 0%, 15%);
  font-family: Tahoma;
}

#main-container {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}