#posts-buttons-container {
  display: flex;
  width: 90%;
  margin-top: 1.5re;
  height: 3rem;
  justify-content: space-between;
}

.post-buttons-left-side {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
  justify-content: left;
  margin-left: 3%;
}

.post-buttons-right-side {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: right;
  margin-right: 3%;
}

button {
  width: max-content;
  border: none;
  white-space: nowrap;
  flex-shrink: 0;
  margin-right: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.search-box {
  max-width: 25%;
  margin-left: 7%;
  width: 100%;
  height: 1.3rem;
  border: solid 1px #900;
  background-color: hsl(0, 0%, 15%);
  color: white;
}