.navbar-container {
  display: flex;
  width: 90%;
  height: 90px;
  background-color: black;
  flex-direction: column;
}

.upper-navbar-container {
  display: flex;
  height: 60%;
  width: 100%;
  flex-direction: row;
  border: solid 1px #900;
}

.upper-left-side {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  cursor: pointer;
}

.img-div {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.image-logo {
  width: 100%;
  height: 85%;
}

.title-div {
  width: 20%;
  height: 100%;
  text-align: center;
  color: white;
}

.title-logo {
  font-size: 2.6rem;
  text-decoration: none;
  color: white;
}

.upper-right-side {
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  font-size: 0.8rem;
}

.help-div {
  display: flex;
  color: white;
  width: 100%;
  height: 100%;
  border: solid 1px #900;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.lower-navbar-container {
  display: flex;
  width: 100%;
  height: 40%;
  border: solid 1px #900;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.lower-left-side {
  display: flex;
  width: 30rem;
  height: 2rem;
  flex-direction: row;
  font-size: 0.84rem;
  font-weight: bold;
  background-color: black;
  align-items: center;
  justify-content: center;
}


.logged-in-user,
.settings {
  width: 10rem;
  text-align: center;
  border-right: solid 1px white;
  color: white;
}

.logged-in-user {
  margin-right: 1rem;
}

.settings {
  border-left: solid 1px white;
  margin-left: 1rem;
}

.change-user {
  text-align: center;
  width: 10rem;
  color: white;
  cursor: pointer;
  text-decoration: underline;

}

.user-select {
  text-align: center;
  width: 9rem;
  background-color: black;
  color: white;
  border: inset 2px #900;
  margin-left: 1.45rem;
  margin-right: 1.45rem;
}


.logged-in-user:hover,
.settings:hover {
  cursor: pointer;
  color: #900;
  border-color: white;
}

.settings {
  text-decoration: underline;
}

.change-user {
  padding-left: 1rem;
  padding-right: 1rem;
}

.lower-right-side {
  display: flex;
  width: 20%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  color: white;
  font-size: 0.84rem;
  font-weight: bold;
  padding-right: 3.5rem;
  gap: 4.5rem;
}

.notifications,
.messages {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.notifications:hover,
.messages:hover {
  color: #900;
}