#main-container {
  display: flex;
  width: 100%;
  height: 1000px;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: blueviolet;
}

.navbar-container {
  display: flex;
  width: 90%;
  height: 90px;
  background-color: lightpink;
  flex-direction: column;
}

.upper-navbar-container {
  display: flex;
  height: 60%;
  width: 100%;
  background-color: red;
  flex-direction: row;
  border: solid 1px #900;
}

.upper-left-side {
  display: flex;
  background-color: yellow;
  width: 30%;
  flex-direction: row;
}

.img-div {
  width: 40%;
  height: 100%;
  background-color: brown;
}

.title-div {
  width: 60%;
  height: 100%;
  background-color: lightblue;
}

.upper-right-side {
  display: flex;
  background-color: blue;
  width: 30%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.help-div {
  width: 100%;
  height: 100%;
  border: solid 1px #900;
  background-color: lightgreen;
}

.lower-navbar-container {
  display: flex;
  background-color: green;
  width: 100%;
  height: 40%;
  border: solid 1px #900;
  flex-direction: row;
}

.lower-left-side {
  display: flex;
  height: 100%;
  width: 30%;
  flex-direction: row;
}

.logged-in-user,
.change-user,
.settings {
  background-color: yellow;
  height: 100%;
  width: 100%;
  border: solid 1px #900;
}

.lower-right-side {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.notifications,
.messages {
  background-color: brown;
  width: 100%;
  height: 100%;
  border: solid 1px #900;
}