#navbar-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  border-color: red;
}

#upper-navbar-div,
#lower-navbar-div {
  display: flex;
  width: 100%;
  border: solid 0.1rem;
  border-color: #900;
}

#upper-navbar-div {
  display: flex;
  height: 35px;
  flex-direction: row;
  border-bottom: 0;
  background-color: pink;
}

#reddit-logo-container {
  cursor: pointer;
  /* background-color: yellow; */

}

#reddit-logo-img {
  height: 25px;
  padding-left: 10px;
  padding-top: 5px;
  margin-right: 10px;
}

#title {
  font-size: 1.25rem;
  font-weight: 500;
  /* background-color: blue; */
  color: white;
  text-decoration: none;
  padding-right: 10px;

}

#help-div {
  display: flex;
  background-color: red;
  width: 100px;
  border-right: solid 1px;
  border-color: #900;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

#lower-navbar-div {
  display: flex;
  height: 25px;
  /* justify-content: space-between; */
  background-color: lightblue;
}

#logged-in-user-div:hover,
#change-user-div:hover,
#settings-div:hover {
  color: #900;
}

#logged-in-user-div {
  display: flex;
  font-size: 0.79rem;
  border-right: solid 1px;
  border-color: #900;
}

#change-user-div,
#settings-div {
  display: flex;
  font-size: 0.79rem;
  border-right: solid 1px;
  border-color: #900;
  text-decoration: underline;
  cursor: pointer;
}

#right-group {
  display: flex;
  gap: 0;
}

#notifications-div,
#messages-div {
  width: 100px;
  background-color: green;
  border-left: solid 1px;
  border-color: #900;
  display: flex;
}