#posts-container {
  display: flex;
  background-color: darkred;
  border: solid 1px #900;
  width: 900px;
  height: 600px;
  margin-top: 5px;
  justify-content: start;
}

.topic-title {
  width: 200px;
  flex-grow: 10;
  border: solid 1px #000000;
}

.author {
  width: 200px;
  flex-grow: 1;
  border: solid 1px #000000;
  border-left: none;
}

.views {
  width: 200px;
  flex-grow: 1;
  border: solid 1px #000000;
  border-left: none;
}